dp/
frames/
inputs/
outputs/
temp/
wav2lip_master/checkpoints
wav2lip_master/yolo
*.pkl
*.jpg
*.mp4
*.pth
*.pyc
__pycache__
*.h5
*.avi
*.wav
filelists/*.txt
evaluation/test_filelists/lr*.txt
*.pyc
*.mkv
*.gif
*.webm
*.mp3
*.pt
